$primary-color: #54428E;
$secondary-color: #8963BA;

.section{
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.container{
    background-color: white;
    width: 25rem;
    max-width: 90%;
    padding: 1rem;
    margin-top: -15%;
    border-radius: 1rem;
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
}

.title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.addTodos {
	>input[type="text"] {
		width: 70%;
		padding: 0.5rem;
		outline: none;
		border: 1px solid $primary-color;
		border-radius: 0.5rem 0 0 0.5rem;
		font-size: 1rem;
		font-weight: 500;
		margin-bottom: 1rem;
		&:focus {
			border: 1px solid $secondary-color;
			transition: 0.5s;
			+ {
				input[type="submit"] {
					border: 1px solid $secondary-color;
					background-color: $secondary-color;
					border-left: none;
					transition: 0.5s;
					&:hover {
						border: 1px solid $secondary-color;
						background-color: color-mix(in srgb, $primary-color 50%, $secondary-color 50%);
						border-left: none;
						transition: 0.5s;
					}
				}
			}
		}
	}
	>input[type="submit"] {
		padding: 0.5rem 1rem;
		border: none;
		outline: none;
		background-color: $primary-color;
		border: 1px solid $primary-color;
		border-left: none;
		color: white;
		font-size: 1rem;
		font-weight: 500;
		border-radius: 0 0.5rem 0.5rem 0;
		cursor: pointer;
		transition: 0.3s;
		&:hover {
			background-color: color-mix(in srgb, $primary-color 50%, $secondary-color 50%);
			transition: 0.5s;
		}
	}
}

@media screen and (max-width: 325px) {
    .addTodos {
        >input[type="text"] {
            border-radius: 0.5rem;
            width: 90%;
        }
        >input[type="submit"] {
            border-radius: 0.5rem;
        }
    }
    
}